# Ignorar archivos compilados
*.class

# Ignorar archivos generados por IDEs
*.iml
*.ipr
*.iws
*.classpath
*.project

# Ignorar archivos de respaldo
*~

# Ignorar archivos de configuración del sistema
.DS_Store

# Ignorar la carpeta bin
bin/


# Ignorar el archivo README.md
README.md